@charset "UTF-8";
/***********************
模块名：配色参数
************************/
/***********************
design tokens：配色参数
************************/
/* Color */
/* Font */
/* Size */
/* Shadow */
/* Corner */
/* Line */
/* Global */
/***********************
模块参数：关联design token
************************/
/* Icon */
/**
* @desc 列表是否存在
*/
/**
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
*/
/**
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
* @param $pseudo: after before, default: after
* @param $radius default: 1px
*/
/**
* onePx using background-image linear-gradient
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
*/
/* Cell */
.mwe-cell {
  position: relative;
  padding: 0.75rem 0 0.75rem 0;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#e2e5f0, #e2e5f0);
  border-top: none;
  background-position: top; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .mwe-cell {
      background-image: linear-gradient(180deg, #e2e5f0, #e2e5f0 50%, transparent 50%); } }
  .mwe-cell:before {
    left: 0;
    width: auto;
    margin: 0 1.25rem; }
  .mwe-cell:first-child {
    border-top: 0;
    background-image: none; }
    .mwe-cell:first-child:before {
      display: none; }
  .mwe-cell-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .mwe-cell-wrap:before, .mwe-cell-wrap:after {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .mwe-cell-hd {
    margin-right: 0.75rem; }
  .mwe-cell-bd {
    flex: 1;
    overflow: hidden;
    text-align: left; }
  .mwe-cell-ft {
    margin-left: 0.75rem; }
    .mwe-cell-ft * + * {
      margin-left: 0.25rem; }
  .mwe-cell-title {
    color: #333;
    font-size: 1rem; }
  .mwe-cell-desc {
    color: #666;
    font-size: 0.875rem; }
  .mwe-cell-arrow-right {
    font-size: 1rem;
    color: #999; }
  .mwe-cell--access {
    cursor: pointer; }
    .mwe-cell--access .mwe-cell-ft {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .mwe-cell--access .mwe-cell-ft:before, .mwe-cell--access .mwe-cell-ft:after {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .mwe-cell--access .mwe-cell-bd {
      overflow: hidden; }
    .mwe-cell--access .mwe-cell-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
    .mwe-cell--access:active {
      background-color: #f7f7f7; }
  .mwe-cell--disabled {
    cursor: not-allowed; }
    .mwe-cell--disabled:active {
      background-color: transparent; }
    .mwe-cell--disabled .mwe-cell-hd, .mwe-cell--disabled .mwe-cell-bd, .mwe-cell--disabled .mwe-cell-ft, .mwe-cell--disabled .mwe-cell-title, .mwe-cell--disabled .mwe-cell-desc, .mwe-cell--disabled .mwe-cell-arrow-right {
      color: #ccc; }

/*# sourceMappingURL=../../scss/source-maps/components/cell.css.map */