@charset "UTF-8";
/***********************
模块名：配色参数
************************/
/***********************
design tokens：配色参数
************************/
/* Color */
/* Font */
/* Size */
/* Shadow */
/* Corner */
/* Line */
/* Global */
/***********************
模块参数：关联design token
************************/
/* Icon */
/**
* @desc 列表是否存在
*/
/**
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
*/
/**
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
* @param $pseudo: after before, default: after
* @param $radius default: 1px
*/
/**
* onePx using background-image linear-gradient
* @param $color
* @param $direction: top bottom left right vertical all radius,  default: all
*/
/* Toast */
.mwe-toast {
  position: fixed;
  z-index: 5001;
  display: inline-block;
  max-width: 20rem;
  min-width: 15rem;
  padding: 1.25rem;
  border: 0 solid #e2e5f0;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  /* element */ }
  .mwe-toast-inner {
    text-align: center; }
  .mwe-toast-desc {
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem; }
  .mwe-toast-title {
    padding: 0 0 0.75rem 0;
    color: #fff;
    font-size: 1rem; }
  .mwe-toast-icon {
    margin-bottom: 0.5rem; }
  .mwe-toast-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); }
  .mwe-toast-close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: transparent;
    border-radius: 50%; }
    .mwe-toast-close:active {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3); }
  .mwe-toast--top {
    left: 50%;
    top: 1.25rem;
    transform: translateX(-50%); }
  .mwe-toast--bottom {
    top: auto;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%); }
  .mwe-toast--center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .mwe-toast--warning {
    background-color: rgba(255, 230, 189, 0.8); }
    .mwe-toast--warning .mwe-toast-title, .mwe-toast--warning .mwe-toast-desc, .mwe-toast--warning .mwe-toast-close, .mwe-toast--warning .mwe-toast-icon {
      color: #EB7E10; }
  .mwe-toast--success {
    background-color: rgba(133, 228, 210, 0.8); }
    .mwe-toast--success .mwe-toast-title, .mwe-toast--success .mwe-toast-desc, .mwe-toast--success .mwe-toast-close, .mwe-toast--success .mwe-toast-icon {
      color: #42a184; }
    .mwe-toast--success .mwe-toast-close {
      color: #42a184; }
  .mwe-toast--error {
    background-color: rgba(248, 180, 181, 0.8); }
    .mwe-toast--error .mwe-toast-title, .mwe-toast--error .mwe-toast-desc, .mwe-toast--error .mwe-toast-close, .mwe-toast--error .mwe-toast-icon {
      color: #c24040; }

.toast-slide-from-top-enter, .toast-slide-from-top-leave-active {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%) !important; }

.toast-slide-from-bottom-enter, .toast-slide-from-bottom-leave-active {
  opacity: 0;
  transform: translateX(-50%) translateY(100%) !important; }

.toast-slide-from-top-enter-active,
.toast-slide-from-top-leave-active,
.toast-slide-from-bottom-enter-active,
.toast-slide-from-bottom-leave-active {
  transition: all 400ms cubic-bezier(0.36, 0.66, 0.04, 1); }

/*# sourceMappingURL=../../scss/source-maps/components/toast.css.map */