
@import "../variable.scss";
@import "../mixin.scss";

/* Cell */
$cell-prefix: '.' + $css-prefix + 'cell';
$cell-padding     : $s-1*3 0 $s-1*3 0 !default;
$cell-onepx-margin: 0 $s-1*5 !default;

$cell-border-color   : $color-line-1 !default;
$cell-title-color    : $color-text-1 !default;
$cell-title-font-size: $font-size-l !default;
$cell-title-padding  : $s-1*2 !default;
$cell-desc-color     : $color-text-2 !default;
$cell-desc-font-size : $font-size-base !default;
$cell-desc-padding   : 0 !default;

$cell-hd-margin             : $s-1*3 !default;
$cell-ft-margin             : $s-1*3 !default;
$cell-ft-item-margin        : $s-1 !default;
$cell-color-disabled        : $color-text-4 !default;
$cell-access-bg-color-active: $color-fill-4 !default;
$cell-arrow-font-size       : $font-size-l !default;
$cell-arrow-color           : $color-text-3 !default;

#{$cell-prefix}{
  position: relative;
  padding:$cell-padding;
  @include onePx($cell-border-color,top);
  &:before{
      left:0;
      width:auto;
      margin:$cell-onepx-margin;
  }
  &:first-child{
      border-top:0;
      background-image:none;
      &:before{
          display:none;
      }
  }
  &-wrap{
    @include align-flex();
    @include align-flex-middle();
  }
  &-hd{
    margin-right:$cell-hd-margin;
  }
  &-bd{
    flex:1;
    overflow: hidden;
    text-align:left;
  }
  &-ft{
    margin-left:$cell-hd-margin;
    * + *{
      margin-left:$cell-ft-item-margin;
    }
  }
  &-title{
    color:$cell-title-color;
    font-size:$cell-title-font-size;
  }
  &-desc{
    color:$cell-desc-color;
    font-size:$cell-desc-font-size;
  }
  &-arrow-right{
    font-size:$cell-arrow-font-size;
    color:$cell-arrow-color;
  }
  //modifier
  &--access{
    cursor: pointer;
    #{$cell-prefix}-ft{
      @include align-flex();
      @include align-flex-middle();
    }
    #{$cell-prefix}-bd{
      overflow: hidden;
    }
    #{$cell-prefix}-title{
      @include ellipsis(100%);
    }
    &:active{
        background-color: $cell-access-bg-color-active;
    }
  }
  &--media{
    #{$cell-prefix}-hd{
      img{
        
      }
    }
  }
  &--disabled{
    cursor: $cursor-disabled;
    &:active{
      background-color: $color-transparent;
    }
    #{$cell-prefix}-hd,#{$cell-prefix}-bd,#{$cell-prefix}-ft,#{$cell-prefix}-title,#{$cell-prefix}-desc,#{$cell-prefix}-arrow-right{
      color:$cell-color-disabled;
    }
  }
}